.p-container {
  margin: 0 auto;
  max-width: 75rem;
}

.p-content {
  max-width: 550px;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.p-label-question {
  top: 0px;
  right: 0;
  background: #198754;
  color: white;
  padding: 0px 3px;
  border-radius: 0px 0px 5px 5px;
  font-size: 10px;
}
